@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* COMMON */
* { font-family: 'Nanum Gothic', sans-serif; margin:0px; padding: 0px; box-sizing: border-box; }
.calculator { width: 438px; margin: 0px auto; background-color: #323232; align-items: center; padding: 10px; }

/* MENU */
.header { height: 70px; display: flex; align-items: center; color: #ffffff; }
.title { margin-left: 10px; font-size: 20px; }

/* DISPLAY */
.display { background-color: #ffffff; width: 412px; height: 100px; border-radius: 10px; font-size: 50px; text-align: right; margin: 2px; border: none; outline: none; padding: 25px 20px; }

/* BUTTON */
button {
  justify-content: center; align-items: center;
}

.standard_buttons {
  button { width: 100px; height: 60px; font-weight: 700; font-size: 20px; margin: 2px; border: none; border-radius: 5px; }
}
.engineering_buttons {
  button { width: calc(396px / 5); height: 60px; font-weight: 700; font-size: 20px; margin: 2px; border: none; border-radius: 5px; }
}

.memory_buttons {
  button {
    width: calc(396px / 5); height: 30px; font-size: 15px; background-color: bisque;
  }
}

// TODO: 웹 퍼블리셔를 디자인부터 전부 다 할 일은 많이 없을테지만
// TODO: 그래도 반응형 웹과 여러가지 스타일을 섞어보면 공부가 만이 될 거 같아요
// TODO: px가 아닌 em, rem은 뭔지, 왜 쓰는지, vh는 어디에 쓰는지 등등
// TODO: 색상 같은 것도 왜 white, red, black 등등 이름을 붙이면 되는데 왜 안붙이고 hex code로 많이 짜는건지 등등